@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-primary: #F5F5F5;
}

* {
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    flex: 1 0 auto;
    line-height: 1em;
}

p {
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
}

/* Header */

header {
    background-color: var(--bg-primary);
}

.header__container {
    font-size: 32px;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

nav a {
    padding: 10px;
}

.fa-pencil-alt {
    margin-right: 10px;
}

nav a {
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #2A9DF4;
    color: #2A9DF4;
}

/* Testing */

.testing {
    min-height: 80vh;
}

.testing__container {
    margin: 0 auto;
    max-width: 1300px;
}

/* Question Navigation */

.question-navigation {
    padding: 20px;
}

.question-navigation button {
    padding: 5px 20px;
    background-color: white;
    border: 1px solid black;
    border-bottom: 2px solid black;
}

.question-navigation .selected {
    background-color: green;;
    border-bottom: 2px solid #8BC34A;
    color: white;
}

.question-navigation button:hover {
    border-bottom: 2px solid #8BC34A;
}

/* Question Section */

.question {
    padding: 20px;
    margin: 20px 0;
    font-size: 24px;
    line-height: 1em;
    background-color: #EBECF0;
}

/* Choices Section */

.choices {
    padding: 20px 40px;
    font-size: 20px;
    height: 180px;
}

/* Previous and Next Buttons */

.previous-next {
    display: flex;
    justify-content: space-between;
}

.previous-next-section button {
    padding: 10px 20px;
    background-color: orange;
}

.previous-next-section button:hover {
    background-color: #FF8C00;
}

.previous-next {
    padding: 20px;
}

/* Grade Button */

.grade-button__section {
    font-size: 1.2em;
    margin: 40px 20px;
}

.grade-button {
    background-color: green;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    padding: 15px;
}
.grade-button:hover {
    background-color: #8BC34A;
    color: black;
}

/* Grading Section */

.grade__section {
    display: none;
}
.grade__section .results-heading {
    margin: 20px 0;
    text-decoration: underline;
}
.grade__section .review-heading {
    margin: 40px 0 20px 0;
    text-decoration: underline;
}
.grade__section p {
    line-height: 1.6;
}

.retry-button {
    background-color: green;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    margin: 20px 0;
    padding: 15px;
}
.retry-button:hover {
    background: #8BC34A;
    color: black;
}

button {
    font-size: 16px;
    cursor: pointer;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.home h1 {
    font-size: 36px;
}

/* Footer */

footer {
    background-color: var(--bg-primary);
}
footer h2 {
    margin-bottom: 15px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: rgba(0, 0, 0, 0.8);
}
footer li {
    list-style-type: none;
    margin-bottom: 15px;
}

.footer__container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.footer__section {
    margin-bottom: 20px;
}

@media only screen and (min-width: 650px) {

    /* Grade Button */

    .grade-button__section {
        font-size: 1.6em;
    }

    /* Footer */

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__section {
        margin: 0;
    }
}